<h2>Movies</h2>

<%= form_tag movies_path, method: :get, id: 'ratings_form', local: true do %>
  Include:
  <% @all_ratings.each do |rating| %>
    <div class="form-check form-check-inline">
      <%= check_box_tag "ratings[#{rating}]", "1", @ratings_to_show.include?(rating), id: "ratings_#{rating}", class: 'form-check-input' %>
      <%= label_tag "ratings[#{rating}]", rating, class: 'form-check-label' %>
    </div>
  <% end %>

  <div>
    <label for="sort_by">Sort by:</label>
    <%= select_tag :sort_by,
                   options_for_select([["Title", "title"],
                                       ["Release date", "release_date"]],
                                       @sort_by),
                   id:    "sort_by" %>
  </div>

  <%= submit_tag 'Refresh', id: 'ratings_submit' %>
<% end %>

<br>

<div id="movies">
  <% @movies.each do |movie| %>
    <div>
      <p><strong>Title:</strong> <%= movie.title %></p>
      <p><strong>Rating:</strong> <%= movie.rating %></p>
      <p><strong>Description:</strong> <%= movie.description %></p>
      <p><strong>Release date:</strong> <%= movie.release_date %></p>
      <p><%= link_to "Show this movie", movie_path(movie) %></p>
      <br>
    </div>
  <% end %>
</div>